/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
        margin-top: 5px;
    }
}
span.psw {
    display: table;
    margin: 0 auto;
}
.container {

    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;

}

.imgcontainer {

    text-align: center;
    margin: 0px 0 0px 0;
}
button:hover {
    opacity: 0.8;
}
img.avatar {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;



    border-radius: 50%;

}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.rememberText {
    margin-left: 5px;
    font-size: larger;
}