/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
        margin-top: 10px;
    }
}
span.psw {
    display: table;
    margin: 0 auto;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
button:hover {
    opacity: 0.8;
}
img.avatar {
    alignment: center;
    border-radius: 50%;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.rememberText {
    margin-left: 5px;
    font-size: larger;
}